<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<mvc:annotation-driven />
<mvc:default-servlet-handler />
<mvc:view-resolvers>
	<mvc:jsp prefix="/WEB-INF/view/" /><!-- 이걸 적지 않으면 Controller를 return 할 때 확장자와 주소를 적지 않아도 된다. -->
</mvc:view-resolvers>
<mvc:resources location="/WEB-INF/view/" mapping="/**" cache-period="31556926" /> <!-- 파일 업로드 지정해 주는 것.. -->
<!-- <mvc:view-controller path="/main" view-name="main" /> spring-controoler에서 사용?-->
<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames">
		<list>
			<value>message.label</value>
		</list>
	</property>
	<property name="defaultEncoding" value="utf-8" />
</bean>
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
	<property name="maxUploadSize" value="100000000" />
	<property name="maxInMemorySize" value="100000000" />	
</bean>
<mvc:interceptors>
	<mvc:interceptor>
		<mvc:mapping path="/edit/**"/>
		<bean class="interceptor.AuthCheckInterceptor" />
	</mvc:interceptor>
</mvc:interceptors>
</beans>