<?xml version="1.0" encoding="utf-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
							http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
>
  <display-name>Archetype Created Web Application</display-name>
  <!--  <servlet>
  	<servlet-name>MallFrontController</servlet-name>
  	<servlet-class>Controller.MallFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>MallFrontController</servlet-name>
   <url-pattern>*.mall</url-pattern>
  </servlet-mapping>
  <servlet> -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- dispatcher를 이용해 컨트롤러 빈을 저장 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name> <!-- 이용할 아이디 -->
  		<param-value>
  			classpath:spring-mvc.xml
  			classpath:spring-controller.xml
  			classpath:spring-member.xml
  			classpath:spring-connect.xml
  		</param-value> <!-- 빈을 가지고 있는 xml -->
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/</url-pattern> <!-- 확장자 없이 이름만으로도 사용 가능 -->
  </servlet-mapping>
  <filter>
  	<filter-name>encodingFilter</filter-name> <!-- 임의의 이름 -->
  	<filter-class>
  		org.springframework.web.filter.CharacterEncodingFilter
  	</filter-class> <!-- 내가 사용하기 위한 엔코딩 타입지정 -->
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value><!-- 대소문자 구분 안함 -->
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern> <!-- 모든 파일에 적용 -->
  </filter-mapping>
</web-app>
